.card-deck, .card-group {
    .card {
        background-color: #8a878467;
        .diffculty {
            background-color: #364743;
            .Easy {
                color: #48e655;
                vertical-align: middle;
                text-align: center;
            }
            .Medium {
                color: #def12f;
            }
            .Hard {
                color: #fa694f;
            }
        }
    }
}
.nav-tabs {
    .nav-item {
        .nav-link.active {
            background-color: #8a878467;
            color: #fff;
        }
        .nav-link {
            color:#fff;
            :hover {
                color: #fff;
            }
        }
    }
}
.App {
    background-color: #cccbcb;
}
html {
    background-color: #cccbcb;
}
nav {
    background-color: #364743;
    .img-thumbnail {
        max-width: 100px;
    }
}
.list-group {
    position: fixed;
    height: 30.5rem;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #364743; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #232e2b; 
}