.card-deck {
    .card {
        background-color: rgb(129, 86, 21);
    }
}
.nav-tabs {
    .nav-item {
        .nav-link {
            color:white;
            :hover {
                color:white;
            }
        }
    }
}
